* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	color: #ffffff;
}

header {
	position: absolute;
	top: 0;
	left: 0;
}

ol,
ul,
li {
	list-style: none;
}

button {
	border: none;
	background-color: inherit;
}

canvas {
	width: 100%;
	height: 100%;
}
